<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @excel1.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @excel1.body %>
</p>

<%= link_to 'Edit', edit_excel1_path(@excel1) %> |
<%= link_to 'Back', excel1s_path %>
