<h1>Editing Program</h1>

<%= @program.start %>
<%= form_for(@program, url: program_path, method: :patch) do |f| %>
    <%= f.hidden_field :event_id, value: @program.event_id %>
    <%= f.hidden_field :event_program_id, value: @program.event_program_id %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, value: @program.title %>
    <%= f.label :date, "日付" %>
    <%= f.date_field :date, value: @program.date %>
    <%= f.label :start, "開始時間" %>
    <%= f.time_field :start, value: @program.start %>
    <%= f.label :end, "終了時間" %>
    <%= f.time_field :end, value: @program.end %><br>
    <%= f.submit "編集" %>
<% end %>
<br>

<%= link_to 'Show', @program %> |
<%= link_to 'Back', "/meetings/" + @meeting.id.to_s %>
