<h1>New Program</h1>

<%= form_for(@program, url: programs_path, method: :post) do |f| %>
    <%= f.hidden_field :event_id, value: params["event_id"] %>
    <%= f.hidden_field :event_program_id, value: @num %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, value: "" %>
    <%= f.label :date, "日付" %>
    <%= f.date_field :date, value: @meeting.start %>
    <%= f.label :start, "開始時間" %>
    <%= f.time_field :start, value: "12:00" %>
    <%= f.label :end, "終了時間" %>
    <%= f.time_field :end, value: "12:00" %><br>
    <%= f.submit "作成" %>
<% end %>
<br>
<%= link_to 'Back', "/meetings/" + @meeting.id.to_s %>
