<p id="notice"><%= notice %></p>
<table>
<tr>
<td>
  <strong>Event program:</strong>
  <%= @program.event_program_id %>
</td>

<td>
  <strong>Event:</strong>
  <%= @program.event_id %>
</td>

<td>
  <strong>Title:</strong>
  <%= @program.title %>
</td>
</tr><tr>
<td>
  <strong>Date:</strong>
  <%= @program.date %>
</td>

<td>
  <strong>Start:</strong>
  <%= @program.start %>
</td>

<td>
  <strong>End:</strong>
  <%= @program.end %>
</td>
</tr>
</table>

<br><br>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', "/meetings/" + @meeting.id.to_s %> |
<%= link_to 'Next Program', new_program_path( :event_id => @meeting.eventId) %>


<br><br>

<%= link_to 'New Performer', new_performer_path(eventId: @program.event_id, event_program_id: @program.event_program_id) %>

<br><br>

<p id="notice"><%= notice %></p>

<h1>Performers</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Program</th>
      <th>Organization</th>
      <th>Role</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performers.each do |performer| %>
      <tr>
        <td><%= performer.event_id %></td>
        <td><%= performer.event_program_id %></td>
        <td><%= performer.organization %></td>
        <td><%= performer.role %></td>
        <td><%= performer.lastname %></td>
        <td><%= performer.firstname %></td>
        <td><%= link_to 'Show', performer %></td>
        <td><%= link_to 'Edit', edit_performer_path(performer) %></td>
        <td><%= link_to 'Destroy', performer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performer', new_performer_path(eventId: @program.event_id, event_program_id: @program.event_program_id) %>
