<%= form_with(model: performer, local: true) do |form| %>
  <% if performer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performer.errors.count, "error") %> prohibited this performer from being saved:</h2>

      <ul>
        <% performer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :organization %>
    <%= form.text_field :organization %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
