<h1>New Performer</h1>

<%= form_for(@performer, url: performers_path, method: :post) do |f| %>
    <%= f.hidden_field :event_id, value: params["eventId"] %>
    <%= f.hidden_field :event_program_id, value: params["event_program_id"] %>
    <%= f.label :organization, "所属" %>
    <%= f.text_field :organization, value: "" %>
    <%= f.label :role, "役職" %>
    <%= f.text_field :role, value: "" %>
    <%= f.label :lastname, "姓" %>
    <%= f.text_field :lastname, value: "" %>
    <%= f.label :firstname, "名" %>
    <%= f.text_field :firstname, value: "" %><br>
    <%= f.submit "作成" %>
<% end %>

<br>

<%= link_to 'Back', "/programs/" + @program.id.to_s %>
